@use "variables/colours" as *;

// Example namespaced custom element style CSS classes

.app-header {
  border-bottom-color: $app-light-grey;
}

// Prevent the service navigation from wrapping on desktop when there
// are many nav items.  Reduces font-size and spacing just enough to
// keep everything on a single row.
.govuk-service-navigation__item {
  @media (min-width: 48.0625em) {
    font-size: 16px;
    margin-right: 15px !important; /* stylelint-disable-line declaration-no-important */
  }
}

.govuk-service-navigation__service-name {
  @media (min-width: 48.0625em) {
    font-size: 16px;
    margin-right: 15px !important; /* stylelint-disable-line declaration-no-important */
  }
}
